@{
    ViewData["Title"] = "Tipo de Comida";
}

@model IEnumerable<WebAPI_Razor.Models.TipoComidaModel>

<h1>@ViewData["Title"]</h1>

<p>Lista de tipos de alimentos</p>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoComidaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var oTipoComida in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => oTipoComida.TipoComidaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => oTipoComida.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => oTipoComida.Color)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "TipoComida", new { id = oTipoComida.TipoComidaId}) |
                    @Html.ActionLink("Delete", "Delete", new { oTipoComida.TipoComidaId })
                </td>
            </tr>
        }
    </tbody>
</table>